.amizade- {
  &title {
    color: $text-red;
    font-size: $font-l;
    margin: 19px 0 43px;
    text-transform: uppercase;
  }

  &container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 95%;
  }

  &button {
    @include button($white);
    flex: 1 1 calc(50% - 6px * 2);
    background: $white;
    box-shadow: 0 $shadow-mobile 0 $grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 212px;
    margin: 0 6px 35px;
    padding: 10px;

    &__description {
      font-size: $font-m;
      margin: 0;
      text-transform: uppercase;
    }
  }
}

.load-button {
  display: none;
}

@media (min-width: 768px) {
  .amizade- {
    &button {
      flex: 1 1 calc(100% / 3 - 6px * 2);
    }
  }
}

@media (min-width: 1200px) {
  .amizade- {
    &title {
      font-size: 82px;
    }

    &container {
      max-width: 1200px;
    }

    &button {
      flex: 1 1 calc(25% - 13px * 2);
      box-shadow: 0 $shadow-desk 0 $grey;
      height: 250px;
      margin: 0 13px 35px;

      &__picture {
        max-height: 140px;
      }

      &__img {
        max-height: 100%;
      }
      &__description {
        font-size: $font-xl;
      }
    }
  }

  .load-button {
    background: none;
    border: none;
    color: $text-red;
    display: block;
    font-size: $font-xl;
    margin: 0 auto 43px;
    padding: 0;
    text-transform: uppercase;
  }
}
