.bottom- {
  &list {
    display: flex;
    justify-content: space-evenly;
  }

  &button {
    background: $white;
    border-radius: 6px;
    box-shadow: 0 12px 0 $grey;
    flex: 1 1 87.62px;
    margin: 25px 17px;
    padding: 10px;

    &:active {
      background: $red;
      box-shadow: 0 12px 0 $shadow-red;

      & .bottom-button__name {
        color: $white;
      }
    }

    &__name {
      color: $black;
      font-size: 18px;
      margin: 0;
      text-transform: uppercase;
    }
  }
}
