.bottom- {
  &nav {
    margin: 25.1px auto 0;
  }

  &list {
    display: flex;
    justify-content: space-around;
  }

  &button {
    flex: 1;
    background: $white;
    border-radius: 6px;
    box-shadow: 0 7px 0 $grey;
    margin: 0 11.69px;
    height: 88px;
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    
    &:active {
      background: $red;
      box-shadow: 0 7px 0 $shadow-red;

      & .bottom-button__name {
        color: $white;
      }
    }

    &__name {
      color: $black;
      font-size: 18px;
      margin: 0;
      text-transform: uppercase;
    }
  }
}

@media (min-width: 1200px) {
  .bottom-button {
    &__link{
      display: flex;
      align-items: center;
    }

    &__img {
      min-height: 85.51px;
    }

    &__name {
      font-size: 42px;
    }
  }
}