.bottom- {
  &nav {
    margin: 25px auto 29px;
  }

  &list {
    display: flex;
    justify-content: space-around;
  }

  &button {
    @include button(none);
    flex: 1;
    background: $white;
    box-shadow: 0 $shadow-mobile 0 $grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88px;
    margin: 0 12px;

    &:active {
      background: $red;
      box-shadow: 0 $shadow-mobile 0 $shadow-red;

      & .bottom-button__name {
        color: $white;
      }
    }

    &__name {
      color: $black;
      font-size: $font-xs;
      margin: 0;
      text-transform: uppercase;
    }
  }
}

@media (min-width: 1200px) {
  .bottom- {
    &list {
      justify-content: space-between;
      margin: 0 auto;
      max-width: 1000px;
    }

    &button {
      box-shadow: 0 $shadow-desk 0 $grey;
      height: 122px;
      margin: 0 13px;

      &:active {
        box-shadow: 0 $shadow-desk 0 $shadow-red;
      }

      &__link {
        display: flex;
        align-items: center;
      }

      &__img {
        min-height: 86px;
      }

      &__name {
        font-size: $font-xl;
      }
    }
  }
}
