.footer {
  display: none;
}

@media (min-width: 1200px) {
  .footer {
    background: $white;
    display: block;
    height: 140px;

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 140px;
      margin: 0 auto;
      max-width: 1200px;
    }

    &__left {
      text-align: left;
    }

    &__text-red {
      color: $text-red;
      font-size: $font-m;
    }

    &__text-link {
      font-size: 14px;
    }

    &__mid {
      flex: 1;
      display: flex;
      justify-content: space-evenly;
      font-size: $font-m;
    }

    &__right {
      flex: 0.5;
      display: flex;
      justify-content: space-between;
    }
  }
}
