.add-button {
  position: absolute;
  top: 1px;
  left: 1px;
  display: none;
}

* {
  box-sizing: border-box;
  font-family: "DINCond-BoldAlternate", "Roboto Condensed", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}
