* {
  box-sizing: border-box;
}

body {
  background: $yellow;
  font-family: "DINCond-BlackAlternate", "Oswald", sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  margin: 0 auto;
}

.button {
  background: $red;
  border: 1px solid $red;
  border-radius: 6px;
  box-shadow: 0 6px 0 $shadow-red;
  color: white;
  display: block;
  font-size: 24px;
  height: 52px;
  padding: 12px 25px;
  text-transform: uppercase;
}
