.nav {
  height: 70px;
  width: 100vw;
  position: relative;
  text-align: center;
  background: $red;
}

.home-link {
  display: inline-block;
}

.home-logo {
  height: 70px;
}

.nav-button {
  height: 70px;
  width: 80px;
  position: absolute;
  top: 0;
  background: transparent;
  border: none;
  padding: 0;
}

.qr-button {
  left: 0;
}

.menu-button {
  right: 0;
}

.icon {
  height: 70px;
  width: 80px;
}