.nav {
  height: 80px;
  width: 100vw;
  position: relative;
}

.home-link {
  height: 80px;
  margin: 0 auto;
}

.home-logo {
  height: 80px;
  width: 100%;
}

.menu-icon {
  position: absolute;
  right: 5%;
  top: 5%;
}