.location- {
  &main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100vh - 70px);
  }

  &icon {
    max-width: 130px;
  }

  &title {
    font-size: $font-l;
    margin: 0;
  }

  &description {
    font-size: $font-s;
    margin: 0;
    max-width: 95%;
  }

  &button {
    @include button($red);
    background: $red;
    box-shadow: 0 $shadow-mobile 0 $shadow-red;
    color: white;
    font-size: $font-m;
    height: 45px;
    width: 181px;
  }
}

.loader {
  display: none;
}

.loader-show {
  display: block;
  border: 8px solid $white;
  border-radius: 50%;
  border-top: 8px solid $red;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.negative-button {
  background: none;
  border: none;
  color: $contrast-red;
  font-size: $font-xs;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .location-main {
    height: calc(100vh - 142px);
  }
}
