.location- {
  &main {
    background: $yellow;
    display: flex;
    align-items: center;
    height: calc(100vh - 70px);
    text-align: center;
  }

  &container {
    margin: 0 auto;
  }

  &title {
    font-size: 30px;
    margin: 29px auto 36px;
  }

  &description {
    font-size: 22px;
    max-width: 301px;
    margin: 0;
  }

  &button {
    display: block;
    margin: 24px auto 28px;
  }
}

.negative-button {
  background: none;
  border: none;
  color: $red;
  font-size: 18px;
  text-transform: uppercase;
}
