.sidepanel {
  background-color: $yellow;
  height: 100vh;
  width: 0;
  overflow-x: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 11;
  text-align: left;
  transition: 0.5s;

  &-account {
    background: $white;
    border-bottom: 9px solid $text-red;
    position: relative;

    &__container {
      padding: 0 25px;
    }

    &__profile {
      display: flex;
      align-items: center;
    }

    &__photo {
      margin: 0 8px 0 0;
      width: 53px;
    }

    &__name {
      font-size: $font-l;
      margin: 0;
      text-transform: uppercase;
    }

    &__links {
      font-size: $font-s;
      margin: 19px 0 0 0;
      padding-bottom: 5px;
    }

    &__link {
      margin: 5px 0;
    }
  }

  &-navigation {
    padding: 0 25px;

    &__app {
      font-size: $font-l;
      padding: 26px 0 34px;
      text-transform: uppercase;
    }

    &__mid-link {
      padding: 26px 0;
    }

    &__beirao {
      border-bottom: 1px solid $text-red;
      border-top: 1px solid $text-red;
    }

    &__title {
      font-size: $font-l;
      margin: 26px 0 12px;
      text-transform: uppercase;
    }

    &__links {
      font-size: $font-s;
    }

    &__link {
      margin: 9px 0;
    }

    &__social {
      display: flex;
      justify-content: space-between;
      margin: 26px 0 27px;
    }

    &__footer {
      font-size: $font-xs;
      margin: 21px 0;
      text-align: center;
    }
  }
}

.close-button {
  background: none;
  border: none;
  margin: 15px 0 12px;
  padding: 0;
  text-align: right;
  width: 100%;

  &__img {
    height: 15px;
    width: 15px;
  }
}

.logout-button {
  background: none;
  border: none;
  font-size: $font-xs;
  padding: 0;
  position: absolute;
  bottom: 8px;
  right: 29px;
}

.open {
  width: 100vw;
}

@media (min-width: 500px) {
  .open {
    width: 500px;
  }
}
