.sidepanel {
  background-color: $yellow;
  height: 100vh;
  width: 0;
  overflow-x: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 11;
  text-align: left;
  transition: 0.5s;

  &-account {
    background: $white;
    border-bottom: 9px solid $text-red;
    position: relative;

    &__container {
      padding: 0 25px;
    }

    &__profile {
      display: flex;
      align-items: center;
    }

    &__photo {
      margin: 0 8px 0 0;
      height: 52.75px;
      width: 52.75px;
    }

    &__name {
      font-size: 30px;
      margin: 0;
      text-transform: uppercase;
    }

    &__links {
      font-size: 22px;
      margin: 19.43px 0 0 0;
      padding-bottom: 5px;
    }

    &__link {
      margin: 4.5px 0;
    }
  }

  &-navigation {
    padding: 0 25px;

    &__app {
      font-size: 30px;
      padding: 26px 0 34.42px;
      text-transform: uppercase;
    }

    &__mid-link {
      padding: 26px 0;
    }

    &__beirao {
      border-bottom: 1px solid $text-red;
      border-top: 1px solid $text-red;
    }

    &__title {
      font-size: 30px;
      margin: 25.69px 0 12px;
      text-transform: uppercase;
    }

    &__links {
      font-size: 22px;
    }

    &__link {
      margin: 9px 0;
    }

    &__social {
      display: flex;
      justify-content: space-between;
      margin: 25.75px 0 27.09px;
    }

    &__footer {
      font-size: 18px;
      margin: 20.69px 0;
      text-align: center;
    }
  }
}

.close-button {
  background: transparent;
  border: none;
  margin: 14.89px 0 12.21px;
  padding: 0;
  text-align: right;
  width: 100%;

  &__img {
    height: 15.21px;
    width: 15.08px;
  }
}

.logout-button {
  background: transparent;
  border: none;
  font-size: 18px;
  padding: 0;
  position: absolute;
  bottom: 8px;
  right: 29px;
}

.open {
  width: 100vw;
}

@media (min-width: 500px) {
  .open {
    width: 500px;
  }
}
