.top-nav {
  height: 70px;
  width: 100vw;
  position: relative;
  text-align: center;
  background: $red;
}

.home-link {
  display: inline-block;
  padding: 20px 0;
}

.home-logo {
  height: 26.98px;
}

.nav-button {
  height: 70px;
  width: 80px;
  position: absolute;
  top: 0;
  background: transparent;
  border: none;
  padding: 0;
}

.qr-button {
  left: 0;
}

.menu-button {
  right: 0;
}

.nav-icon {
  height: 24.67px;
  //width: 25.3px;
}

.location-icon {
  height: 130px;
}
