.top-nav-desk {
  display: none;
}

@media (min-width: 1200px) {
  .top-nav-desk {
    background: $text-red;
    display: block;
    height: 142px;

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 142px;
      margin: 0 auto;
      max-width: 1200px;
    }

    &__left {
      text-align: left;
    }

    &__mid {
      flex: 1;
      display: flex;
      justify-content: space-evenly;
      font-size: 28px;
      text-transform: uppercase;
    }

    &__link {
      color: $white;
    }

    &__right {
      flex: 0.5;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    &__user {
      margin-right: 35px;
    }
  }
}
