.top-nav-mob {
  background: $text-red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;

  &__button {
    background: none;
    border: none;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .top-nav-mob {
    display: none;
  }
}
