/* COLOR */

// b&w
$black: #000;
$grey: #c2c2c2;
$white: #fff;

// red
$red: #e54847;
$input-red: #bc001f;
$shadow-red: #c14444;
$text-red: #dd052b;

// yellow
$yellow: #ffd600;

$gridcolumns: 12;
$gridgutter: 30px;
$gridwidth: 1200px;

/* SIZES */

$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-30: 30px;
$font-size-32: 32px;
$font-size-36: 36px;
$font-size-42: 46px;
$font-size-56: 56px;
$font-size-72: 72px;
$font-size-82: 82px;
