/* COLOR */

// b&w
$black: #000;
$grey: #c2c2c2;
$white: #fff;

// red
$red: #e54847;
$input-red: #bc001f;
$shadow-red: #c14444;
$text-red: #dd052b;
$contrast-red: #c10022;

// yellow
$yellow: #ffd600;

/* SIZES */

// fonts
$font-xs: 18px;
$font-s: 22px;
$font-m: 24px;
$font-l: 30px;
$font-xl: 42px;

//shadow
$shadow-mobile: 7px;
$shadow-desk: 12px;
