.year-header,
.year-form,
.year-footer {
  text-align: center;
}

.year- {
  &body {
    display: flex;
    align-items: center;
    height: 100vh;
  }

  &title {
    font-size: 24px;
    margin: 0 0 29px;
    text-transform: uppercase;
  }

  &footer {
    color: $text-red;
    font-size: 18px;
  }

  &text {
    margin: 5px;
  }
}

.number-input {
  color: $input-red;
  font-family: "Caveat Brush", "DINCond-BlackAlternate", "Roboto", sans-serif;
  font-size: 72px;
  height: 77px;
  width: 50px;
  margin: 0 9px;
  padding: 0;
}

.verify-button {
  margin: 73px auto 81px;
}
