.year- {
  &body {
    display: flex;
    align-items: center;
    height: 100vh;
  }

  &title {
    font-size: 24px;
    margin: 0 0 29px;
    text-transform: uppercase;
  }

  &footer {
    color: $text-red;
    font-size: 18px;
  }

  &text {
    margin: 5px;
  }
}

.number-input {
  color: $input-red;
  font-family: "Caveat Brush", "DINCond-BlackAlternate", "Roboto", sans-serif;
  font-size: 72px;
  height: 77px;
  width: 50px;
  margin: 0 9px;
  padding: 0;
  text-align: center;

  &--warning {
    background: $red;
    border: 1px solid $red;
    color: $white;
  }
}

.verify-button {
  margin: 73px auto 81px;
}

.warning {
  background: $red;
  color: $white;
  font-size: 30px;
  margin: 73px 25px 81px;
  padding: 20px;
  text-transform: uppercase;
}

.invisible {
  display: none;
}
