.year- {
  &body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
  }

  &header {
    display: none;
  }

  &title {
    font-size: $font-m;
    margin: 0;
    margin: 0 0 29px;
    text-transform: uppercase;
  }

  &footer {
    color: $text-red;
    font-size: $font-xs;
  }

  &text {
    margin: 0;
  }
}

.number-input {
  color: $input-red;
  font-family: "Caveat Brush", "DINCond-BlackAlternate", "Roboto", sans-serif;
  font-size: 72px;
  height: 77px;
  width: 50px;
  margin: 0 9px;
  padding: 0;
  text-align: center;
}

.invalid {
  background: $text-red;
  border: 1px solid $text-red;
  color: $white;
}

.verify-button {
  @include button($red);
  background: $red;
  box-shadow: 0 $shadow-mobile 0 $shadow-red;
  color: white;
  font-size: $font-m;
  height: 45px;
  width: 143px;
  margin: 73px 0 0;
}

.warning {
  background: $text-red;
  color: $white;
  font-size: $font-m;
  margin: 0 auto;
  padding: 20px;
  max-width: 95%;
  text-transform: uppercase;
}

.invisible {
  display: none;
}

@media (min-width: 1200px) {
  .year- {
    &body {
      justify-content: space-evenly;
    }

    &header {
      display: block;
      height: 79px;

      &__img {
        height: 100%;
      }
    }

    &title {
      font-size: 56px;
    }

    &footer {
      font-size: $font-m;
    }
  }

  .number-input {
    margin: 0 12px;
  }

  .verify-button {
    box-shadow: 0 $shadow-desk 0 $shadow-red;
    font-size: 36px;
    height: 79px;
    width: 230px;
  }
}
